@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>
<br/>
<p>This quaint little site sets keeps track of cars, and nothing much else. <br/>
	Feel free to browse around (and contribute to the site).</p>
<br/>
<p><a href="/Cars">Click here</a> to go the the Cars list.</p>